In [14]:
import pandas as pd
import matplotlib as mpl
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

# Implement batch GD with early stopping for softmax regression

In [5]:
from sklearn import datasets
iris = datasets.load_iris()
list(iris.keys())

['data',
 'target',
 'frame',
 'target_names',
 'DESCR',
 'feature_names',
 'filename']

In [17]:
iris['target']

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [72]:
# I want a dataframe with 'data', 'feature_names', and 'target'.
# So, each feature_name is a column heading, with rows filled by respective data, and the last column is target.
from sklearn.utils import shuffle
data = {'sepal_length': iris['data'][:, 0], 'sepal_width': iris['data'][:,1], 'petal_length': iris['data'][:,2], 'petal_width': iris['data'][:,3], 'target': iris['target']}
flowers = shuffle(pd.DataFrame(data))
flowers.reset_index(inplace=True, drop=True)
flowers

     sepal_length  sepal_width  petal_length  petal_width  target
0             4.4          3.0           1.3          0.2       0
1             5.1          3.5           1.4          0.2       0
2             5.2          2.7           3.9          1.4       1
3             7.7          2.6           6.9          2.3       2
4             6.9          3.1           4.9          1.5       1
..            ...          ...           ...          ...     ...
145           4.6          3.2           1.4          0.2       0
146           5.5          2.4           3.8          1.1       1
147           6.1          2.8           4.7          1.2       1
148           6.7          3.0           5.2          2.3       2
149           6.2          3.4           5.4          2.3       2

[150 rows x 5 columns]

In [79]:
from sklearn.preprocessing import OneHotEncoder
hotty = OneHotEncoder()
y_train_hot = hotty.fit_transform(np.array(flowers['target']).reshape(-1, 1))

In [97]:
X_train = np.c_[np.ones((150, 1)), flowers[['petal_length', 'petal_width']]]
theta = np.random.randn(3, 3)

In [103]:
def softmax(logits):
    exps = np.exp(logits)
    sums = np.sum(exps, axis=1)
    return exps / sums

In [106]:
n_iterations = 5000
eta = 0.1

for i in range(n_iterations):
    y_proba = softmax(X_train.dot(theta))
    gradients = 1/150 * X_train.T.dot(y_proba - y_train_hot)
    theta = theta - eta*gradients

In [107]:
theta

matrix([[ 10.57812188,   2.23875436, -12.59742768],
        [ -2.36164324,  -0.13074527,   0.92943142],
        [ -4.86854426,  -1.16355967,   4.72890092]])